body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  margin: 0;
  padding: 20px;
  color: #e9e9e9;
}

h1 {
  text-align: center;
  margin: 60px 0;
}

#overlay {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* dim background */
  z-index: 98;
}

.container {
  width: 60vw;
  height: fit-content;
  margin: 10px auto;
  background-color: #222222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#loan-container {
  position: relative;
}

#loans {
  width: 100%;
  padding: 0;
  margin: 0;
}

#view-toggle {
  display: flex;
  position: relative;
  list-style: none;
  width: fit-content;
  border-radius: 5px;
  margin: 10px 15px 5px;
  padding: 0;
  background-color: #825daf;
}
#view-toggle li {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
}
#view-toggle li a {
  display: inline-block;
  height: 24px;
  cursor: pointer;
}

.active-view {
  background-color: #bb86fc;
}

#add-entry {
  background-color: #484848;
  border: none;
  color: #e9e9e9;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

#add-entry:hover {
  opacity: 0.7;
}

.loan {
  position: relative;
  background-color: #484848;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
}
.grid .loan {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 25px 20px;
  margin: 10px;
  height: 290px;
  width: 240px;
}
.grid .loan p {
  height: 1rem;
  width: 15ch;
  margin: 0 0 5px 0;
  padding: 3px 0px;
}
.grid .loan .loan-input {
  border: none;
  margin-bottom: 5px;
  padding: 0px 2px;
  width: 18ch;
}
.grid .loan .confirm-btn {
  height: 2rem;
  width: 24ch;
  padding: 0;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #bb86fc;
}
.grid .loan .cancel-btn {
  position: absolute;
  width: 20px;
  top: 8px;
  right: 8px;
}
.grid .loan .confirm-btn:hover {
  background-color: #825daf;
  color: #e9e9e9;
}
.grid #add-entry {
  height: 290px;
  width: 240px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0;
  margin: 10px;
  font-size: 3rem;
}

.list {
  width: 100%;
}
.list table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
}
.list th,
.list td {
  text-align: left;
  padding: 0.5rem 1rem;
}
.list .loan {
  position: relative;
  height: 50px;
  transition: all 0.3s ease-in-out;
}
.list .loan div {
  align-content: center;
}
.list .loan input {
  line-height: 1.5rem;
  height: 2rem;
  width: 100%;
  border: none;
  background-color: #333333;
  color: white;
  box-sizing: border-box;
}
.list .loan input:focus {
  outline: 1px solid gray;
}
.list .loan #util {
  position: absolute;
  bottom: 10px;
  right: 45px;
  width: fit-content;
  height: 35px;
}
.list .loan #util button {
  width: 80px;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: #a0a0a0;
}
.list .loan #util .confirm-btn:hover {
  background-color: #38ba7c;
}
.list .loan #util .cancel-btn:hover {
  background-color: #f34642;
}
.list .expand {
  height: 200px;
  transition: all 0.3s ease-in-out;
}
.list #add-entry {
  position: relative;
  grid-area: new;
  width: 100%;
  height: 50px;
  margin: 0;
}
.list .note {
  position: absolute;
  bottom: -2rem;
  left: 45%;
  font-size: 1rem;
  background-color: #333333;
  height: 2rem;
  width: 15ch;
  align-content: center;
  opacity: 0;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.list .note::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 60%;
  border: solid 10px;
  border-color: transparent transparent #333333 transparent;
}
.list #add-entry:hover .note {
  opacity: 1;
}

.modal-edit {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 30px;
}
.modal-edit div {
  width: fit-content;
  margin: 0 auto;
}
.modal-edit div input {
  border: none;
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 0;
  margin-bottom: 10px;
}

.editable-modal {
  position: absolute;
  z-index: 99;
  margin: auto auto;
  height: 700px;
  width: 500px;
  background-color: #343434;
  visibility: hidden;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loan > label,
.loan > span {
  font-size: 1rem;
  text-shadow: 1px 1px #000000;
}

.loan p {
  color: #d4b6f9;
  text-shadow: 2px 3px 4px #121212;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  align-content: center;
}

.tooltip {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  width: 20ch;
  background-color: #333333;
  color: #c0c0c0;
  text-align: center;
  padding: 2px 2px;
  bottom: -290%;
  z-index: 1;
  left: 80px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 60%;
  border: solid 10px;
  border-color: transparent transparent #333333 transparent;
}

.loan-input {
  height: 1.2rem;
  border-radius: 5px;
  font-size: 1.1rem;
}

.confirm-btn {
  cursor: pointer;
  color: #121212;
  font-weight: bolder;
  transition: all ease-in-out 0.1s;
}

.cancel-btn {
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  color: #121212;
  font-weight: bolder;
}

.cancel-btn:hover {
  fill: #ff0000;
  color: #e9e9e9;
}

.confirm-btn:hover {
  color: #e9e9e9;
}

.enterDate {
  display: inline-block;
  position: relative;
}

.enterDate:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.separateDate {
  width: fit-content;
  height: 30px;
  scale: 0;
  border: none;
  transition: 0.1s linear;
}

.separateDate:focus,
input[type=date] {
  border: solid 1px #bb86fc;
}

.toggleModal {
  animation: popout 0.3s cubic-bezier(0.15, 1, 0.83, 1.49);
  scale: 1;
}

@keyframes popout {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
input[type=date] {
  background-color: #343434;
  color: #e9e9e9;
  cursor: pointer;
  border: none;
}

.loan input[type=date] {
  width: 140px;
  height: 1rem;
  font-size: 1rem;
  font-weight: 900;
  padding: 5px;
}

.loan input[type=date]:focus {
  border: solid 1px #38b0d5;
}

/* For Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  border: none;
  padding: 5px;
}

/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;
}

.toggle-container {
  display: inline-block;
  background-color: white;
  height: 20px;
  width: 35px;
  border-radius: 10px;
  padding: 0;
  margin: 10px 0;
  position: relative;
  cursor: pointer;
}
.toggle-container input {
  opacity: 0;
  cursor: pointer;
}
.toggle-container .slider {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  aspect-ratio: 1/1;
  height: calc(100% - 4px);
  background-color: #332c3d;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s linear;
}
.toggle-container input:checked + .slider {
  transform: translateX(calc(100% - 2px));
  background-color: #bb86fc;
}

.expandDown {
  position: relative;
  width: fit-content;
  left: 5px;
}

.dropdown {
  position: absolute;
  width: fit-content;
  top: 8px;
  right: 8px;
}

.arrow {
  height: 25px;
  width: 25px;
  border: none;
  cursor: pointer;
  background: transparent;
}
.arrow::after, .arrow::before {
  content: "";
  position: relative;
  display: block;
  width: 12px;
  height: 4px;
  background-color: #808080;
  transition: all 0.3s ease-in-out;
}
.arrow::before {
  left: 0px;
  top: 2px;
  transform: rotate(45deg);
}
.arrow::after {
  left: 6px;
  bottom: 2px;
  transform: rotate(-45deg);
}

.arrow:hover::before, .arrow:hover::after {
  background-color: #ffffff;
}

.arrow.active::after, .arrow.active::before {
  transition: all 0.3s linear;
}
.arrow.active::before {
  transform: rotate(-45deg);
}
.arrow.active::after {
  transform: rotate(45deg);
}
.arrow.active + .dropdown-content {
  transition: all 0.15s linear;
  height: 50px;
}
.arrow.active + .dropdown-content .menu-item {
  height: 25px;
  width: 100%;
  border: none;
  cursor: pointer;
}
.arrow.active + .dropdown-content .edit-btn:hover {
  background-color: #38b0d5;
}
.arrow.active + .dropdown-content .delete-btn:hover {
  background-color: #ed5e68;
}

.dropdown-content {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 80px;
  height: 0px;
  right: 0;
  overflow: hidden;
  transition: all 0.15s linear;
  z-index: 99;
}
.dropdown-content .menu-item {
  height: 25px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: #c0c0c0;
}

.show {
  display: block;
}

.group-btn {
  position: relative;
  bottom: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  margin: 10px auto 0 auto;
  cursor: pointer;
  background-color: transparent;
}

#user-details form {
  padding: 0 10px;
  height: 150px;
  font-size: 1.2rem;
}
#user-details form > div {
  margin-bottom: 10px;
  display: block;
}
#user-details form input {
  height: 1.3rem;
  font-size: 1.2rem;
  width: 14ch;
  border-radius: 5px;
  background-color: #343434;
  color: #e9e9e9;
}
#user-details form label {
  margin: 0;
}
#user-details #paymentDate {
  padding: 5px;
}
#user-details button {
  height: 30px;
  width: 150px;
  background-color: #bb86fc;
  border: none;
  border-radius: 5px;
  box-sizing: initial;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.1s linear;
}
#user-details button:hover {
  background-color: #825daf;
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px #121212;
}

/*# sourceMappingURL=Styles.css.map */
